<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Navigate</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list id="labels-list">
      <ion-list-header>Labels</ion-list-header>

      <ion-item *ngFor="let label of ['hello']" lines="none">
        <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>{{ label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
