<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span translate>New collection</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container__actions" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1em">

    <ion-button class="btn" [fxHide]="user?.id == 0" expand="block" (click)="createCollection()">Create</ion-button>

    <ion-button [fxHide]="user?.id == 0" class="btn" expand="block" (click)="fileInput.click()">Import</ion-button>
    <input type="file" [hidden]="true"
           accept="application/json"
           #fileInput (change)="onFileChange($event)">


    <ion-button class="btn" expand="block" (click)="addCollectionUrl()">Add url</ion-button>

  </div>
</ion-content>

