<div>
  <div class="filter-container" fxLayoutGap="1em" fxLayoutAlign="center center" fxLayout="row" [fxShow]="isFilterShown">


    <div *ngFor="let filter of filters" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <ion-checkbox slot="start" color="secondary" [(ngModel)]="filter.checked"></ion-checkbox>
      <ion-label (click)="filter.checked=!filter.checked" style="color:white">{{filter.title}}</ion-label>
    </div>

  </div>

  <div class="list-container">
    <ion-refresher slot="fixed" (ionRefresh)="pullToRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!collections && !sharedCollections"
         style="z-index:9999;height: 90px;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 80%;text-align: center">
      <ion-spinner color="primary" style="width: 90px;height: 90px;"></ion-spinner>
    </div>

    <ion-virtual-scroll [fxShow]="filters[0].checked" [items]="collections" approxItemHeight="60px">
      <div (press)="showPopup($event,collection)" *virtualItem="let collection;" class="list-item ion-activatable ripple-parent" fxLayout="row" fxLayoutAlign="start center"
           fxLayoutGap="1em">
        <div class="item-img-container">
          <ion-icon name="bookmark" class="tag-icon"></ion-icon>
        </div>
        <div class="item-title">
            <span>
              {{ collection.tag }}
            </span>
        </div>
        <div fxLayout="row" fxLayoutGap="2px" class="container--location-icons">
          <span style="font-size: 18px">{{collection.locations.length}}</span>
          <ion-icon name="location-outline" style="font-size: 21px"></ion-icon>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </ion-virtual-scroll>

    <ion-virtual-scroll [fxShow]="filters[1].checked" [items]="sharedCollections" approxItemHeight="60px">
      <div *virtualItem="let collection;" class="list-item" fxLayout="row" fxLayoutAlign="start center"
           fxLayoutGap="1em">
        <div class="item-img-container">
          <ion-icon name="bookmark" class="tag-icon"></ion-icon>
        </div>
        <div class="item-title" fxLayout="column">
            <span>
              {{ collection.tag }}
            </span>
          <span>
              {{ collection?.owner?.email }}
            </span>
        </div>
        <div fxLayout="row" fxLayoutGap="2px" class="container--location-icons">
          <span style="font-size: 18px">{{collection.locations.length}}</span>
          <ion-icon name="location-outline" style="font-size: 21px"></ion-icon>
        </div>

      </div>
    </ion-virtual-scroll>

    <div
      *ngIf="(collections?.length===0 || !filters[0].checked) && (sharedCollections?.length===0 || !filters[1].checked)"
      class="empty-results">
      <h3>No collection have been found</h3>
    </div>

  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addCollection()">
      <ion-icon class="fab-add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</div>
