<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon style="color:whitesmoke;font-size:24px" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>

      <span fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="7px">
        <ion-icon style="font-size:24px" name="bookmark"></ion-icon>
        <span translate>{{collection?.tag}}</span>
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveCollection()">
        <ion-icon style="color:whitesmoke;font-size:24px" name="save-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
