<div>
  <div class="list-container">
    <div class="list-item" *ngFor="let location of locations" fxLayout="row" fxLayoutGap="1em">
      <div class="item-img-container">
        <img class="item-img" src="https://via.placeholder.com/150" alt="" width="100px" height="100px">
      </div>

      <div class="item-text-container" fxLayout="column" fxLayoutGap="1em">
        <div class="item-title">
          <span>

            {{ location.title }}
          </span>
        </div>
        <div class="item-description">
        <span>

          {{ location.description }}
        </span>
        </div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary" (click)="addLocation()">
    <ion-icon class="fab-add-icon" name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>

</div>
