a {
  text-decoration: none;
}

:host {
  ion-content {
    --ion-background-color: #3F3F49;
  }

  ion-item {
    color: #ffffff;
  }

  .white-icon {
    color: #ffffff;
  }

}

.labels-list {
  height: 100%;
  flex-direction: column!important;
  padding: 7px;
}
