<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon style="color:whitesmoke;font-size:24px" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>

      <span fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="7px">
        <ion-icon style="font-size:24px" name="bookmark"></ion-icon>
        <span translate>Select tags</span>
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveTags()">
        <ion-icon style="color:whitesmoke;font-size:24px" name="save-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="1em">

    <div class="list-container">

      <div *ngIf="!collections"
           style="z-index:9999;height: 90px;position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 80%;text-align: center">
        <ion-spinner color="primary" style="width: 90px;height: 90px;"></ion-spinner>
      </div>

      <ion-virtual-scroll [items]="collections" approxItemHeight="72px" style="width: 100vw">
        <div *virtualItem="let collection;"
             class="list-item" fxLayout="row" fxLayoutAlign="start center"
             fxLayoutGap="1em">
          <div class="item-img-container">
            <ion-icon name="bookmark" class="tag-icon"></ion-icon>
          </div>
          <div class="item-title">
            <span>
              {{ collection.tag }}
            </span>
          </div>
          <div fxLayout="row" fxLayoutGap="2px" class="container--location-icons">
            <ion-checkbox color="secondary" (ionChange)="collection.checked = !collection.checked"></ion-checkbox>
          </div>
        </div>
      </ion-virtual-scroll>

      <div
        *ngIf="collections?.length===0"
        class="empty-results">
        <h3>No collection have been found</h3>
      </div>

    </div>

  </div>

</ion-content>
