<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span fxLayout="row nowrap" fxLayoutAlign="start center" fxLayoutGap="7px">
        <ion-icon style="font-size:24px" name="bookmark"></ion-icon>
        <span translate>{{collection?.tag}}</span>
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="shareCollection()">
        <ion-icon style="color:whitesmoke;font-size:24px" name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="editCollectionTitle()">
        <ion-icon style="color:whitesmoke;font-size:24px" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteCollection()">
        <ion-icon color="secondary" style="font-size:24px" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
