<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span translate>title</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form (submit)="login()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
        </ion-item>
        <br>
        <div class="ion-padding">
          <ion-button  expand="block" type="submit" class="ion-no-margin">Create a
            contact
          </ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
