<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center"
    style="background-color: var(--ion-color-primary)">
    <img src="/assets/images/app.svg" style="width: 48px;height: 48px;">
    <span class="title" translate>Kouskous</span>
  </div>
  <img src="/assets/images/top-background.webp"
       style="width: 100vw;height: 175px;transform: translateY(-1px);">
</div>


<!--
<ion-content>

  <div class="ion-padding">
    <form (submit)="login()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
        </ion-item>
        <br>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Create a
            contact
          </ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
-->

