<ion-header>
  <ion-toolbar color="primary">
    <div fxLayout="row nowrap">
      <ion-menu-toggle class="menu-toggle">
        <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
      </ion-menu-toggle>
      <ion-searchbar
        type="text" slot="end" color="primary"
        enterkeyhint="search" inputmode="search"
        placeholder="Search a location or a collection"
        [(ngModel)]="searchValue"
        animated
        (ionChange)="searchLocationOrCollection()"
        (ionBlur)="searchLocationOrCollection()"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="content ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="top" class="tabs" color="primary">

      <ion-tab-button tab="locations" (click)="isCollection=false;isLocation=true">
        <ion-title>
          <span class="tab-title">Locations</span>
        </ion-title>
      </ion-tab-button>

      <ion-tab-button tab="collections" (click)="isCollection=true;isLocation=false">
        <ion-title>
          <span class="tab-title">Collections</span>
        </ion-title>
      </ion-tab-button>

      <ion-button class="filter-btn" [ngClass]="{'disable-button':!isCollection}" (click)="showFilter()">
        <ion-icon [fxShow]="isCollection"  name="options-outline"></ion-icon>
      </ion-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
