<ion-header>
  <ion-toolbar color="primary">
    <div fxLayout="row nowrap">
      <ion-menu-toggle>
        <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
      </ion-menu-toggle>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="content ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="top" class="tabs" color="primary">
      <ion-tab-button tab="locations">
        <ion-title>
          <span>Locations</span>
        </ion-title>
      </ion-tab-button>
      <ion-tab-button tab="collections">
        <ion-title>
          <span>Collections</span>
        </ion-title>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
