<ion-header>
  <ion-toolbar color="primary">
    <div fxLayout="columns" class="head-div">
      <ion-title>Home</ion-title>
    <ion-tabs class="tabs" >
      <ion-tab-bar class="tab-bar">
        <ion-tab-button selected="true" class="tab-button" tab="locations">
          <ion-label>Locations</ion-label>
        </ion-tab-button>
    
        <ion-tab-button class="tab-button" tab="collections">
          <ion-label>Collections</ion-label>
  
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="content">
</ion-content>