<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle></ion-menu-toggle>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span translate>Settings</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <ion-item [fxHide]="isAuthenticated" button lines="full" (click)="changeServerUrl()" class="labels-list">
        <ion-label>
          <span translate>Server Url</span>
        </ion-label>
        <ion-text style="color: grey;width: 33%">
          {{serverUrl.length > 15 ? serverUrl.substr(0, 13) + '...' : serverUrl}}
        </ion-text>
      </ion-item>
      <ion-item [fxHide]="!isAuthenticated" button lines="full" class="labels-list">
        <ion-label>
          <span translate>Share my position</span>
        </ion-label>
        <ion-toggle color="secondary" [checked]="isShareAllowed" (ionChange)="togglePosition($event)"></ion-toggle>

      </ion-item>
    </div>
  </div>
</ion-content>
